body{

font-family:Arial;

background:#eeeeee;

text-align:center;

}



header{

background:#d90000;

color:white;

padding:20px;

}



header a{

color:white;

font-size:22px;

}



.menu{

display:flex;

flex-wrap:wrap;

justify-content:center;

}



button{

background:#ffcc00;

border:none;

border-radius:15px;

padding:20px;

margin:10px;

font-size:20px;

cursor:pointer;

}



.order{

background:#009900;

color:white;

font-size:30px;

}



#cart,.box{

background:white;

padding:20px;

margin:20px;

border-radius:20px;

}
